@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

:host {

    section {
        padding: 135px 0;
        width: $wrapper-container-width;
        margin: 0 auto;

        &.banner {
            padding-bottom: 0;
        }
    }

    .section-title-container {
        margin-bottom: 80px;
    }

    h2 {
        text-align: center;
    }

    /**
     *  Banner area
     */
     .banner {
        width: 100%;
        height: 620px;
        padding-top: 170px;
        margin-top: 0 !important;
        position: relative;
        display: flex;
    }

    .banner-inner {
        width: $wrapper-container-width;
        margin: 100px auto 50px;
        position: relative;
    }

    .promo-image {
        position: absolute;
        right: 0;
        top: calc(50% - 80px);
        @include transform(translateY(-50%));
    }

    .slogan-container {
        position: absolute;
        top: calc(50% - 80px);
        width: 530px;
        @include transform(translateY(-50%));

        .slogan-text {
            font-family: $font-family-body-bold;
            font-size: 40px;
            line-height:110%;
            margin-bottom: 30px;
            display: flex;

            p {
                font-size: 18px;
                line-height: 150%;
                font-family: $font-family-body;
            }

            .highlighted {
                color: $primary-color;
                position: relative;
            }

            .icon {
                width: 100px;
                display: block;
                margin-right: 10px;
            }

        }

        .cta-btn {
            margin-top: 20px;
        }

    }

    .full-width-container {
        background: $full-width-content-bg;
        width: 100%;
    }
    

    /**
    *  Team section
    */
    .team {
        width: $wrapper-container-width;

        .team-list {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 0;
            margin-top: 100px;
            justify-content: center;

            li {
                margin-right: 10px;
                margin-bottom: 60px;
                padding-right: 9px;
                border-radius: 3px;
                width: 350px;
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                position: relative;
                justify-content: center;
                z-index: 0;

                .blob-bg {
                    position: absolute;
                    z-index: -1;
                    width: 240px !important;
                    left: 50%;
                    top: 50%;
                    @include transform(translateY(-50%) translateX(-50%));

                    &.rotate-40 {
                        @include transform(translateY(-50%) translateX(-50%) rotate(40deg));
                    }

                    &.rotate-80 {
                        @include transform(translateY(-50%) translateX(-50%) rotate(80deg));
                    }

                    &.rotate-120 {
                        @include transform(translateY(-50%) translateX(-50%) rotate(120deg));
                    }

                    &.rotate-160 {
                        @include transform(translateY(-50%) translateX(-50%) rotate(160deg));
                    }
                }

                &:hover {
                    z-index: 3;
                }

                &>a, .team-member {
                    display: flex;
                    flex-direction: column;
                    padding: 45px 15px 25px;
                    justify-content: center;
                    color: $primary-font-color;
                    position: relative;
                    width: 100%;
                    z-index:2;
                    margin: 0 auto;
                    box-sizing: border-box;
                    border-radius: 20px;

                    .team-member-description {
                        width: calc(100% - 20px);
                    }
                }

                &:after {
                    width: 100%;
                    position: absolute;
                    content: '';
                    height: 380px;
                    opacity:0;
                    top: 0;
                    left: 50%;
                    z-index:2;
                    z-index: 0;
                    border-radius: 20px;
                    background: rgba(255, 255, 255, .5);
                    box-shadow: 0 0 25px rgba(0, 0, 0, .2);
                    backdrop-filter: blur(5px);
                    @include transform(translateX(-50%));
                    @include transition(.3s ease-in-out);
                }

                &:hover {
                    
                    &>a, .team-member {
                        z-index: 3;
                    }

                    &:hover {
                        .team-member-description {
                            opacity: 1;
                        }
                    }

                    .profile-link {
                        opacity: 1;
                    }

                    &:after {
                        opacity: 1;
                    }


                    h3 {
                        font-size: 20px;
                    }

                    .image-profile-block img {
                        @include transform(scale(1.05));
                    }
                }

                h3 {
                    font-size:19px;
                    display: flex;
                    align-items: center;
                    font-family: $font-family-body-medium;
                    text-align: center;
                    justify-content: center;
                    height: 30px;
                    @include transition(.3s ease-in-out);
                }

                .profile-link {
                    font-size: 16px;
                    font-weight: 900;
                    padding: 3px;
                    position: absolute;
                    top: 20px;
                    right: 10px;
                    width: 20px;
                    opacity: 0;
                    height: 20px;
                    border-radius: 4px;
                    display: flex;
                    z-index: 2;
                    align-items: center;
                    justify-content: center;
                    color: $primary-color;
                    transition: .3s ease-in-out;

                    i {
                        @include transition(.3s ease-in-out);
                        font-size: 26px;
                    }
                }

                .image-profile-block {
                    position: relative;
                    height: 100%;
                    min-width: 150px;
                    width: 150px;
                    height: 150px;
                    margin: 0 auto 20px auto;

                    &.image-crispy, .image-crispy {
                        display: flex;
                        justify-content: center;
                    }

                    .image-container {
                        height:150px;
                        width: 150px;
                        border-radius: 4px;
                    }

                    img {
                        border-radius: 100px;
                        height: 100%;
                        object-fit: contain;
                        @include transition(.3s ease-in-out);
                    }
                }

                .title {
                    font-size: 16px;
                    text-align: center;
                    font-family: $font-family-body;
                    margin-bottom: 10px;
                    line-height: 160%;
                    height: 30px;
                    opacity:.7;
                    @include transition(.3s ease-in-out);
                }

                .team-member-description {
                    position: absolute;
                    top: 270px;
                    width: 100%;
                    opacity: 0;
                    text-align: center;
                    @include transition(.3s ease-in-out);
                }

                

                .description {
                    font-family: $font-family-body;
                    line-height: 140%;
                    font-weight: 100;
                    font-size: 16px;
                }
            }
        }
    }

    /**
     *  Grow with us
     */
    .careers {
        .title {
            font-family:$font-family-body-bold;
            font-size: 28px;
            margin-bottom: 20px;
        }
    
        .columns {
            display: flex;
            margin-top: 50px;
            align-items: center;
            justify-content: center;
    
            .column:first-child {
                margin-right: 80px;
                margin-left: 80px;
                min-width: 510px;

                img {
                    width: 100%;
                }
            }
        }
    }


    /**
     *  Philosophy
     */
    .philosophy {
        p {
            text-align: center;
            width: 800px;
            margin: 0 auto 30px;
        }
    }


    /** ==============================================================
    *  Media styles
    ============================================================== */
    @media only screen and (min-width: 0px) and (max-width: 700px) {

        section {
            width: calc(100% - 40px);
            padding: 50px 0;
        }

        .section-title-container {
            margin-bottom: 40px;
        }

        /**
        *  Banner
        */
        .banner {
            margin-top: 0;
            padding-top: 0;
            height: initial;
        }

        .banner-inner {
            width: calc(100% - 20px);
            margin-bottom: 0;
        }

        .main-area {
            display: flex;
            flex-direction: column;

            .promo-image {
                order: 0;
                width: 100%;
                margin-bottom: 40px;
                right: 0;

                img {
                    width: 80%;
                    margin: 0 auto 30px;
                    display: block;
                    text-align: center;
                }
            }

            .slogan-container {
                order: 1;
                width: calc(100% - 30px);
                margin: 0 auto 0px;
                text-align: center;

                .slogan-text {
                    font-size: 34px;
                    min-height: 75px;

                    .icon {
                        display: none;
                    }
                }
            }
        }


        .slogan-container, .promo-image {
            position: relative;
            top: initial;
            left: initial;
            transform: none;
        }
        

        /**
         *  Team Section
         */
        .team {
            width: calc(100% - 40px);

            .team-list {
                margin-top: 40px;
                margin-bottom: 0;
               

                li {
                    flex-direction: column;
                    padding: 0;
                    margin-right: 0;

                    a {
                        flex-direction: column;
                    }
    
                    .image-profile-block {
                        min-width: 150px;
                        width: 150px;
                        height: 150px;
                        margin: 0 auto 15px auto;
        
                        img {
                            width: 100% !important;
                        }
                    }
        
                    .team-member-description {
                        
                        h3 {
                            text-align: center;
                            justify-content: center;
                            margin-bottom: 7px;
                        }
        
                        .title {
                            text-align: center;
                        }
        
                        p {
                            text-align: center;
                        }
                    }
    
                    img {
                        width: calc(100% - 50px) !important;
                        display: block;
                        margin: 0 auto 20px auto;
                    }
                }
            }
        }


        /**
         *  Philosophy
         */
        .philosophy {
            p {
                width: 100%;
            }
        }


        /**
         *  Creers
         */
        .careers {
            .columns {
                flex-direction: column;

                .column {
                    margin-left: 0;
                    text-align: center;

                    &:first-child {
                        margin: 0;
                        min-width: 100%;
                    }
                }
            }
        }


    }
}