<!-- Partnerships -->
<section class="partnerships" id="partnerships">
	<div class="wrapper">
		<div class="section-title-container">
			<div class="section-title">Our <span class="color-emphasis">Partners</span></div>
			<h2>A Network of Visionairies</h2>
		</div>
		<div class="partnerships-container">
			<ul class="partners">
				<carousel
				 [autoplay]="carouselAutoplay"
				 [loop]="carouselLoop"
				 [autoplayInterval]="carouselAutoplayInterval"
				 [pauseOnHover]="carouselPauseOnHover"
				 [transitionDuration]="carouselTransitionInterval"
				 [images]="partnershipLogoImages">
				</carousel>
			</ul>
		</div>
	</div>
</section>