<section class="banner">
	<div class="banner-inner">
		<div class="main-area">
			<div class="slogan-container">
				<div id="slogan-text" class="slogan-text">
                    <div class="icon">
                        <img src="/assets/images/logo-condensed.png" width="100" />
                    </div>
                    <div>
                        Creating <br/>
                        metaverse <span class="primary-color-emphasis">value</span> <br/>
                        for industry <span class="primary-color-emphasis">leaders.</span>
                        <p>We give businesses & companies a first mover advantage by helping them take on the emerging Web3, creating brand new multi-channels that bring new streams of revenue.</p>
                        <a class="cta-btn" target="_blank" href="https://propertys-nft.gitbook.io/propertys-whitepaper/">Schedule Strategy Call</a>
                    </div>
                </div>
			</div>
			<div class="promo-image">
				<img src="/assets/images/banner-img.png" width="600" />
			</div>
		</div>
	</div>
</section>

<!-- Stats -->
<div class="full-width-container">
    <section class="stats" id="services">
        <ul class="stats-list">
            <li>
                <div class="stats-title">${{stats.investment}}b+</div>
                <p class="stats-description">in investment has flowed into the metaverse so far.</p>
            </li>
            <li>
                <div class="stats-title">>{{stats.revenue}}%</div>
                <p class="stats-description">of corporate revenue is expected to come from the metaverse in the next 5 years.</p>
            </li>
            <li>
                <div class="stats-title">{{stats.consumers}}%</div>
                <p class="stats-description">of active consumers have made a purchase in the metaverse.</p>
            </li>
        </ul>
    </section>
</div>


<!-- What we offer -->
<section class="what-we-offer" id="what-we-offer">
	<div class="section-title-container">
		<div class="section-title">What We Offer</div>
		<h2>Tools &amp; Services</h2>
	</div>

	<ul class="offer-bulletpoints">
		<li>
            <h4>Strategy Advisory</h4>
			<img src="/assets/images/icons/community.png" width="50" />
			<p>Discover which position your company is going to take in the metaverse, as well as its potential brand impact.</p>
		</li>
		<li>
            <h4>Auditing</h4>
			<img src="/assets/images/icons/community.png" width="50" />
			<p>With innovation comes risk. Hedge against legal metaverse challenges & audit your company for potential red flags.</p>
		</li>
        <li>
            <h4>Metaverse Marketing</h4>
			<img src="/assets/images/icons/community.png" width="50" />
			<p>Create metaverse marketing activities like immersive experiences, metaverse presences, native advertising, brand activations & NFTs, as well as monitor results to find your winning model and  points of business.</p>
		</li>
        <li>
            <h4>Web 3.0 Implementation</h4>
			<img src="/assets/images/icons/community.png" width="50" />
			<p>Bring metaverse products to the market, customized according  to your company's long-term goals & vision. Be prepared to adapt to upcoming innovations by playing a role in this wave of change.</p>
		</li>
	</ul>
    <a routerLink="/" class="cta-btn">Schedule Strategy Call</a>
</section>

<!-- What you'll gain -->
<section class="gains" id="gains">
	<div class="section-title-container">
		<div class="section-title">What You'll Gain</div>
		<h2>Why you should seek our expertise</h2>
	</div>

	<ul class="gains-bulletpoints">
		<li>
            <h4>Authenticity</h4>
			<p>Evolve and align your traditional brand identity with Web3. Establish authentic core brand values that resonate with your new target audiences.</p>
		</li>
		<li>
            <h4>Innovation</h4>
			<p>Discover novel business ideas for Web3, while learning how to use community feedback to gain insights for new developments.</p>
		</li>
        <li>
            <h4>Longevity</h4>
			<p>Establish a strong narrative that remains in the minds of users for generations to come, and secure revenue opportunities that willl help sustain you.</p>
		</li>
        <li>
            <h4>Additional Revenue Streams</h4>
			<p>Explore additional revenue streams through digital goods, wearables and services on blockchain-based platforms.</p>
		</li>
        <li>
            <h4>New Target Groups</h4>
			<p>Tap into and win over new target markets that will help define demand in the metaverse’s future.</p>
		</li>
        <li>
            <h4>First Mover Advantage</h4>
			<p>Be that pioneering brand people recognise from case studies, while helping cultivate new insights and trends.</p>
		</li>
        <li>
            <h4>Revenue Perpetuity</h4>
			<p>Build for a moment, but earn forever! Enjoy perpetual revenue generated by royalties from your blockchain-based NFTs.</p>
		</li>
	</ul>

    <a routerLink="/" class="cta-btn">Schedule Strategy Call</a>
</section>



<!-- Case studies -->
<section class="case-studies" id="case-studies">
	<div class="section-title-container">
		<div class="section-title">Our Resources</div>
		<h2>Learn from insightful Web3 case studies</h2>
	</div>

	<ul>
		<li>
            <a href="/">
                <img src="/assets/images/icons/community.png" width="100" />
                <h4>Case Study #1</h4>
            </a>
		</li>
		<li>
            <a href="/">
                <img src="/assets/images/icons/community.png" width="100" />
                <h4>Case Study #2</h4>
            </a>
		</li>
        <li>
            <a href="/">
                <img src="/assets/images/icons/community.png" width="100" />
                <h4>Case Study #3</h4>
            </a>
		</li>
	</ul>
</section>

<!-- Merge business -->
<div class="full-width-container">
    <section class="business" id="business">
        <div class="columns">
            <div class="column">
                <h2>Merge Your Business <span class="primary-color-emphasis">With the Metaverse</span></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
                <a class="cta-btn" target="_blank">Schedule Strategy Call</a>
            </div>
            <div class="column">
                <img src="/assets/images/brix-image.webp" width="300" />
            </div>
        </div>
    </section>
</div>

<propertys-footer></propertys-footer>