@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

:host {
    section {
        padding: 135px 0;
        width: $wrapper-container-width;
        margin: 0 auto;

        &.banner {
            padding-bottom: 0;
        }
    }

    .section-title-container {
        margin-bottom: 80px;
    }

    /**
     *  Banner area
     */
     .banner {
        width: 100%;
        height: 620px;
        padding-top: 170px;
        margin-top: 0 !important;
        position: relative;
        display: flex;
    }

    .banner-inner {
        width: $wrapper-container-width;
        margin: 100px auto 50px;
        position: relative;
    }

    .promo-image {
        position: absolute;
        right: 0;
        top: calc(50% - 80px);
        @include transform(translateY(-50%));
    }

    .slogan-container {
        position: absolute;
        top: calc(50% - 80px);
        width: 510px;
        @include transform(translateY(-50%));

        .slogan-text {
            font-family: $font-family-body-bold;
            font-size: 40px;
            line-height:110%;
            margin-bottom: 30px;
            display: flex;

            p {
                font-size: 18px;
                line-height: 150%;
                font-family: $font-family-body;
            }

            .highlighted {
                color: $primary-color;
                position: relative;
            }

            .icon {
                width: 100px;
                display: block;
                margin-right: 10px;
            }

        }

        .cta-btn {
            margin-top: 20px;
        }

    }

    .full-width-container {
        background: $full-width-content-bg;
        width: 100%;
    }


    /**
     *  Stats sectionm
     */
    .stats {
        ul.stats-list {
            display: flex;
            justify-content: center;

            li {
                max-width: 25%;
                margin-right: 70px;
                text-align: center;

                .stats-title {
                    font-family: $font-family-body-bold;
                    font-size: 50px;
                    color: $primary-color;
                }

                .stats-description {
                    line-height: 150%;
                    margin-top: 0;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    .what-we-offer {
        text-align: center;

        .offer-bulletpoints {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            li {
                width: 400px;
                text-align: center;
                margin-right: 100px;
                margin-bottom: 60px;

                &:nth-child(even) {
                    margin-right: 0;
                }

                h4 {
                    margin-bottom: 20px;
                }

                img {
                    width: 150px;
                }

            }
        }

        .cta-btn {
            margin: 0 auto;
            display: inline-block;
        }
    }


    /**
     *  What you'll Gain
     */
    .gains {
        text-align: center;

        ul {    
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            li {
                width: 300px;
                padding: 0 50px;
                margin-bottom: 50px;
            }
        }
    }

    /**
     *  Case studies section
     */
    .case-studies {
        ul {
            display: flex;
            justify-content: center;
            text-align: center;

            li {
                margin-right: 60px;

                &:last-child {
                    margin-right: 0;
                }

                a {
                    display: block;
                    padding: 20px;
                    border-radius: 6px;
                    border:2px solid rgba(255, 255, 255, 0);
                    @include transition(.15s ease-in-out);
                    img {
                        margin-bottom: 20px;
                    }

                    &:hover {
                        box-shadow: 0 0 20px rgba(117, 0, 237, .3);
                        border: 2px solid rgba(117, 0, 237, .3);
                    }
                }
            }

            h4 {
                font-size: 26px;
            }
        }
    }


    /**
     * General columns
     */
     .columns {
        display: flex;
        align-items: center;
        justify-content: center;

        .column {
            &:first-child {
                width: 600px;
                margin-right: 50px;
            }
        }
    }


    /** ==============================================================
    *  Media styles
    ============================================================== */
    @media only screen and (min-width: 0px) and (max-width: 700px) {

        section {
            width: calc(100% - 40px);
            padding: 50px 0;
        }

        .section-title-container {
            margin-bottom: 40px;
        }

        /**
        *  Banner
        */
        .banner {
            margin-top: 0;
            padding-top: 0;
            height: initial;
        }

        .banner-inner {
            width: calc(100% - 20px);
            margin-bottom: 0;
        }

        .main-area {
            display: flex;
            flex-direction: column;

            .promo-image {
                order: 0;
                width: 100%;
                margin-bottom: 40px;
                right: 0;

                img {
                    width: 80%;
                    margin: 0 auto 30px;
                    display: block;
                    text-align: center;
                }
            }

            .slogan-container {
                order: 1;
                width: calc(100% - 30px);
                margin: 0 auto 0px;
                text-align: center;

                .slogan-text {
                    font-size: 34px;
                    min-height: 75px;

                    .icon {
                        display: none;
                    }
                }
            }
        }


        .slogan-container, .promo-image {
            position: relative;
            top: initial;
            left: initial;
            transform: none;
        }

        /**
        *  Stats
        */
        .stats {
            padding: 50px 0;

            ul.stats-list {
                flex-direction: column;
                justify-content: center;

                li {
                    margin-right: 0;
                    max-width: 100%;
                
                    width: 100%;
                    margin-bottom: 40px;
                }
            }
        }


        /**
         *  What we offer
         */
        .what-we-offer {
            .offer-bulletpoints {
                justify-content: center;

                li {
                    margin: 0 0 20px;
                }
            }
        }


        /**
         *  Case Studies
         */
        .case-studies {
            ul {
                flex-direction: column;

                li {
                    margin: 0 0 30px;
                }
            }
        }


        /**
         *  Business
         */
        .business {
            .columns {
                flex-direction: column;

                .column {
                    width: 100%;
                    text-align: center;
                    margin-right: 0;
                    margin-bottom: 40px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}