@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

:host {

    section {
        padding: 135px 0;
        width: $wrapper-container-width;
        margin: 0 auto;

        &.banner {
            padding-bottom: 0;
        }
    }

    /**
     *  Banner area
     */
     .banner {
        width: 100%;
        height: 620px;
        padding-top: 170px;
        margin-top: 0 !important;
        position: relative;
        display: flex;
    }

    .banner-inner {
        width: $wrapper-container-width;
        margin: 100px auto 50px;
        position: relative;
    }

    .promo-image {
        position: absolute;
        right: 0;
        top: calc(50% - 80px);
        @include transform(translateY(-50%));
    }

    .slogan-container {
        position: absolute;
        top: calc(50% - 80px);
        width: 490px;
        @include transform(translateY(-50%));

        .slogan-text {
            font-family: $font-family-body-bold;
            font-size: 40px;
            line-height:110%;
            margin-bottom: 30px;

            .highlighted {
                color: $primary-color;
                position: relative;
            }

        }

        .subtext {
            font-family: $font-family-body-medium;
            margin-bottom: 15px;
            font-size: 24px;
        }

        p {
            margin: 0 0 20px 0;
        }
    }

    .full-width-container {
        background: $full-width-content-bg;
        width: 100%;
    }


    /**
     *  Versatile
     */
    .versatile {
        padding-top: 60px !important;
        padding-bottom: 0 !important;

        img {
            display: block;
        }

        .logos {
            display: flex;
            margin-top: 100px;
            align-items: center;

            li {
                margin-right: 25px;
            }
        }
    }

    .two-column {
        align-items: flex-start;

        .left {
            margin-right: 50px;
        }

        img {
            border-radius: 4px;
        }
    }

    .section-description {
        width: 70%;
        margin: 30px auto;
    }

    .section-title-container {
        margin-bottom: 60px;
    }

    .metaverse {
        .metaverse-bulletpoints {
            list-style-type:none;
            display: flex;
            margin-top: 60px;
            flex-wrap: wrap;
            justify-content: center;

            li {
                width: 400px;
                display: flex;
                margin-right: 50px;
                align-items: center;
                margin-bottom: 50px;

                img {
                    margin-right: 40px;
                    width:80px;
                }
                
                
            }
        }
    }
    


    /**
     *  Metaverse section
     */
     .metaverse-image-toggles {

        li {
            margin-bottom: 5px;
        }

        button {
            padding: 20px 0;
            background: none;
            color: $primary-font-color;
            font-family: $font-family-body-bold;
            font-size: 24px;
            justify-content: flex-start;
            flex-direction: column;
            text-align:left;
            align-items: flex-start;
            padding: 15px;
            border-radius: 10px;
            border: 2px solid rgba(0, 0, 0, 0);
            width: 100%;

            &.active {
                border: 2px solid $primary-color;
                color: $primary-color;
            }

            &.active-green {
                border: 2px solid $color-green;
                color: $color-green;
            }

            &.active-orange {
                border: 2px solid $color-orange;
                color: $color-orange;
            }

            &.active-yellow {
                border: 2px solid $color-dark-blue;
                color: $color-dark-blue;
            }

            span {
                font-size: 18px;
                font-family: $font-family-body;
                display: block;
            }

        }
    }

    /**
     *  NFT Collection section
     */
    .district-list-selector {
        display: flex;
        align-items: center;
        justify-content: center;

        li {
            width: 100px;
            height: 100px;
            position: relative;
            cursor: pointer;

            button {
                width: 30px;
                height: 30px;
                border-radius: 30px;
                background: $primary-color;
                position: absolute;
                padding:0;
                top: 50%;
                left: 50%;
                @include transform( translateY(-50%) translateX(-50%));
                @include transition(.15s ease-in-out);

                &.active {
                    width: 50px;
                    height: 50px;
                    position: relative;

                    &:after {
                        content: '';
                        width: calc(100% + 20px);
                        height: calc(100% + 20px);
                        position: absolute;
                        border-radius: 50px;
                        border:2px solid $primary-color;
                        @include transform( translateY(-50%) translateX(-50%));
                    }
                }

                &.sandy-secrets {
                    background: $color-light-orange;

                    &:after {
                        border-color: $color-light-orange;
                    }
                }

                &.apricot-alley {
                    background: $color-orange;

                    &:after {
                        border-color: $color-orange;
                    }
                }

                &.buenas-bananas {
                    background: $color-yellow;

                    &:after {
                        border-color: $color-yellow;
                    }
                }

                &.basil-borough {
                    background: $color-green;

                    &:after {
                        border-color: $color-green;
                    }
                }

                &.grapey-gardens {
                    background: $primary-color;

                    &:after {
                        border-color: $primary-color;
                    }
                }

                &.starry-skies {
                    background: $color-blue;

                    &:after {
                        border-color: $color-blue;
                    }
                }

                &.apricot-alley {
                    background: $color-orange;

                    &:after {
                        border-color: $color-orange;
                    }
                }

                &.special {
                    background: $color-silver;

                    &:after {
                        border-color: $color-silver;
                    }
                }

                &.elon-estates {
                    background: $color-red;

                    &:after {
                        border-color: $color-red;
                    }
                }
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    /**
     * 
     */
     .columns {
        display: flex;
        align-items: center;
        justify-content: center;

        .column {
            &:first-child {
                width: 600px;
                margin-right: 50px;
            }
        }
    }


    /**
     *  NFT Section
     */
    section.nft {
        // Columns to show the NFT cards
        .cards {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            margin-top: 100px;
            display: none;

            &.show {
                display: flex;
            }

            .card {
                margin-right: 80px;
                position: relative;
                z-index: 1;

                .card-image {
                    position: relative;

                    
                }

                h4 {
                    text-align: center;
                    margin-top: 40px;
                    font-family: $font-family-body;
                }

                &:last-child {
                    margin-right: 0;
                }

                img {
                    max-width: 250px;
                    box-shadow: 0 0 20px rgb(0 0 0 / 30%);
                    border-radius: 10px;
                }
            }
        }

        .columns {
            margin-bottom: 60px;
        }

        .column {
            .title {
                margin-bottom: 10px;
                font-family: $font-family-body-bold;
            }

            ul {
                padding-left: 30px;
                li {
                    list-style-type: circle;
                    padding-left: 10px;
                    margin-bottom: 10px;
                    
                }
            }
        }

        p {
            width: 650px;
            margin: 90px auto;
            text-align: center;
        }

        .learn-more {
            text-align: center;
            line-height: 150%;
            width: 350px;
            margin: 0 auto;

            .cta-btn {
                margin-top: 30px;
            }
        }
    }


    /** ==============================================================
    *  Media styles
    ============================================================== */
    @media only screen and (min-width: 0px) and (max-width: 700px) {

        .district-list-selector {
            flex-wrap: wrap;
        }

        .countdown-container {
            margin: 30px auto 0;
            width: calc(100% - 40px);
        }

        .newsletter .columns .column:last-child {
            width: calc(100% - 30px);
        }

        .newsletter .columns .column:first-child {
            margin-bottom: 20px;

            img {
                margin: 40px auto 0;
            }
        }

         section {
            padding-bottom: 0px !important;
            padding-top: 0px !important;
            margin: 60px auto 40px !important;

            &.information {
                margin-top: 0 !important;
            }

            &.get-started {
                padding: 50px 0;
            }

            &.grow-with-us {

                .columns .column:first-child {
                    min-width: 100%;
                    margin-left: 0;
                }
            }
        }

        .newsletter {
            .columns {
                .column {
                    width: 100%;
                }
            }
        }

        section {
            width: 100%;

            .columns {
                flex-direction: column;
                
                .column {
                    margin: 0 auto 90px;
                    text-align: center;
                    width: calc(100% - 40px);

                    &:last-child {
                        margin-right: auto;
                    }
                }
            }
        }



        .newsletter {
            .columns {
                
                .column {
                    width: 100%;
                }
            }
        }

        h3 {
            line-height:150% !important;
        }


        /**
         *  Banner
         */
        .banner {
            margin-top: 0;
            padding-top: 0;
            height: initial;
        }

        .banner-inner {
            width: calc(100% - 20px);
            margin-bottom: 0;
        }

        .main-area {
            display: flex;
            flex-direction: column;

            .promo-image {
                order: 0;
                width: 100%;
                margin-bottom: 40px;
                right: 0;

                img {
                    width: 80%;
                    margin: 0 auto 30px;
                    display: block;
                    text-align: center;
                }
            }

            .slogan-container {
                order: 1;
                width: calc(100% - 30px);
                margin: 0 auto 0px;
                text-align: center;

                .slogan-text {
                    font-size: 34px;
                    min-height: 75px;
                }
            }
        }


        .slogan-container, .promo-image {
            position: relative;
            top: initial;
            left: initial;
            transform: none;
        }

        
        .carousel-container {
            width: 50%;
        }

        section.newsletter {
            padding: 50px 0 !important;

            .columns {
                width: calc(100% - 40px);
                margin: 0 auto;

                .column:last-child {
                    margin-bottom: 0;
                }
            }
        }


        /**
         *  NFT section
         */
        section.nft {

            .columns .column {
                text-align: left;
                margin-bottom: 20px;

                img {
                    width: 100%;
                }

                &:last-child {
                    text-align: center;
                    margin-bottom: 0;
                }
            }
           
            p {
                width: calc(100% - 40px);
                margin: 20px auto 40px;
            }

            .cards {
                &.show {
                    flex-wrap: wrap;

                    .card {
                        margin-right: 0;
                        margin-bottom: 20px;
                    }
                }
            }
        }


        /**
         *  Versatile
         */
        .versatile {
            position: relative;

            .columns {
                .column:last-child {
                    position: absolute;
                    right: 0;
                    top: 0px;
                    width: 100%;
                    opacity: 0.2;
                    bottom: 0;
                    height: 100%;

                    img {
                        position: absolute;
                        right: 30px;
                        z-index: -1;
                        bottom: 0;
                    }
                }
            }
            .logos {
                flex-direction: column;
                align-items: flex-start;
                margin-top: 20px;

                li {
                    margin-bottom: 25px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }

        .section-title-container {
            width: calc(100% - 40px);
            margin-left: auto;
            margin-right: auto;
        }


        /**
         *  Metaverse
         */
        .metaverse {
            .metaverse-bulletpoints {
                li {
                    margin-right: 0;
                }
            }
        }
        

        .two-column {
            flex-direction: column;
            justify-content: center;

            .right, .left {
                width: calc(100% - 40px);
                margin:0 auto 20px;

                img {
                    width: 100%;
                }
                h3 {
                    font-size: 28px;
                }
            }
        }

    }

    
}