<section class="banner">
	<div class="banner-inner">
		<div class="main-area">
			<div class="slogan-container">
				<div id="slogan-text" class="slogan-text">Facilitating Your Journey Into the Metaverse</div>
				<p>From creating experiences for our community members, to onboarding established brands into the metaverse, Property's is an NFT & a Web3 development agency that aims to introduce you to & guide you through the emerging world of Web3.</p>
				<a class="cta-btn" target="_blank" href="https://propertys-nft.gitbook.io/propertys-whitepaper/">Learn more</a>
			</div>
			
			<div class="promo-image">
				<img src="/assets/images/banner-img.png" width="600" />
			</div>
		</div>
		
	</div>
	
</section>

<!-- Partnerships -->
<app-partnerships></app-partnerships>



<!-- Where would you like to start -->
<section class="get-started" id="get-started">
	<div class="section-title-container">
		<div class="section-title">Where Would You Like to Start?</div>
		<h2>Choose the division you're most interest in</h2>
	</div>
	<div class="columns">
		<div class="column">
			<img src="/assets/images/icons/community.png" width="100" />
			<h3 class="title">Property's Community</h3>
			<p>Learn about our NFT Collection, how we're building immersive digital realms for our community, and more.</p>
			<a [routerLink]="'/b2c'" class="cta-btn">Learn more</a>
		</div>
		<div class="column">
			<img src="/assets/images/icons/business.png" width="100" />
			<h3 class="title">Property's Community</h3>
			<p>Learn about our NFT Collection, how we're building immersive digital realms for our community, and more.</p>
			<a [routerLink]="'/b2c'" class="cta-btn">Learn more</a>
		</div>
	</div>
</section>





<!-- Alpha Mail -->
<section class="newsletter full-width-container" id="subscribe">
	<div class="columns">
		<div class="column">
			<img src="/assets/images/newsletter-image.webp" width="300" />
		</div>
		<div class="column">
			<h2>Get <span class="primary-color-emphasis">Alpha Mail!</span></h2>
			<p>Join our newsletter &amp; get instant access to exlcusive whitelist opportunities, giveaways, important updates &amp; more.</p>
			<a class="cta-btn" target="_blank" href="https://bit.ly/newsletter-optin-homepage">Subscribe</a>
		</div>
	</div>
</section>


<!-- About us -->
<section id="about" class="about">
	<div class="section-title-container">
		<div class="section-title">About Us</div>
		<h2>Our Origin Story</h2>
	</div>
	<div class="two-column right-order-0" >
		<div class="left">
			<p>
				As a multifaceted company, Property's is both an NFT, as well as a Web3 development agency.
				<br/><br/>
				Our origins are deeply entrenched and remain in the NFT space, successfully releaing and selling out a collection of 6,000 NFTs in the form of virtual real estate. This has helped us cultivate a wonderful community, who we are passionate about creating immersive metaverse experiences for.
				<br/><br/>
				<span [class]="{'limit-text-height': isReadMoreSections['about-us']}">On the other side of the coin, as a Web3 development agency, Property's is also focused on onboarding brands and businesses into the emerging world of Web3. Using experience, practical knowledge, and technical skills, we help businesses harness the metaverse's potential through butting-edge consulting, implementing, and testing.</span>
				<button class="read-more-text" (click)="toggleReadMore('about-us')">Read {{ isReadMoreSections['about-us'] ? 'More' : 'Less'}}</button>
			</p>		
		</div>
		<div class="right">
			<img src="/assets/images/metaverse-social.webp" width="500" />
		</div>
	</div>
</section>


<section class="grow-with-us" id="careers">
	<div class="columns">
		<div class="column">
			<img src="/assets/images/team-image.png" width="300" />
		</div>
		<div class="column">
			<h2 class="title">Grow <span class="primary-color-emphasis">With Us</span></h2>
			<p>
				Learn about our Web3 career opportunities and get to know the team behind Property's.
			</p>
			<a class="cta-btn" target="_blank" href="https://jobs.wrk.xyz/propertysnft">
				<div class="text">
					Our Careers
				</div>
				<i class="fas fa-arrow-right"></i>
			</a>
		</div>
	</div>
</section>


<app-how-can-i-help id="help"></app-how-can-i-help>
