@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

:host {

    section {
        padding: 75px 0;
        width: $wrapper-container-width;
        margin: 0 auto;

        &.banner {
            padding-bottom: 0;
        }
    }

    .warning {
        display: flex;
        align-items: center;
        margin-top: 10px;
        font-size: 16px;

        i {
            margin-right: 10px;
        }
    }

    .banner-link {
        margin-top: 15px;
        display: inline-block;

        i {
            margin-right: 7px;
        }
    }

    .section-title {
        display: flex;
        justify-content: center;
        font-family: $font-family-body-medium;
        text-transform: uppercase;
        font-size: 20px;
        padding: 5px 0;
        border-radius: 5px;
        background: #EAEAEA;
        width: 220px;
        margin: 0 auto 10px;
        letter-spacing: 2px;
        opacity: .5;
    }

    .section-description {
        font-size: 18px;
        font-family: $font-family-body;
        opacity: .8;
    }

    h2 {
        font-size: 34px;
        font-family: $font-family-body-medium;
        text-align: center;
        margin-bottom: 5px;
    }

    .full-width-container {
        background: #FAFAFA;
        width: 100%;
    }

    .district-list-selector {
        display: flex;
        align-items: center;
        justify-content: center;

        li {
            width: 100px;
            height: 100px;
            position: relative;
            cursor: pointer;

            button {
                width: 30px;
                height: 30px;
                border-radius: 30px;
                background: $primary-color;
                @include transition(.15s ease-in-out);
                position: absolute;
                padding:0;
                top: 50%;
                left: 50%;
                @include transform( translateY(-50%) translateX(-50%));

                &.active {
                    width: 50px;
                    height: 50px;
                    position: relative;

                    &:after {
                        content: '';
                        width: calc(100% + 20px);
                        height: calc(100% + 20px);
                        position: absolute;
                        border-radius: 50px;
                        border:2px solid $primary-color;
                    }
                }

                &.sandy-secrets {
                    background: $color-light-orange;

                    &:after {
                        border-color: $color-light-orange;
                    }
                }

                &.apricot-alley {
                    background: $color-orange;

                    &:after {
                        border-color: $color-orange;
                    }
                }

                &.buenas-bananas {
                    background: $color-yellow;

                    &:after {
                        border-color: $color-yellow;
                    }
                }

                &.basil-borough {
                    background: $color-green;

                    &:after {
                        border-color: $color-green;
                    }
                }

                &.grapey-gardens {
                    background: $primary-color;

                    &:after {
                        border-color: $primary-color;
                    }
                }

                &.starry-skies {
                    background: $color-blue;

                    &:after {
                        border-color: $color-blue;
                    }
                }

                &.apricot-alley {
                    background: $color-orange;

                    &:after {
                        border-color: $color-orange;
                    }
                }

                &.special {
                    background: $color-silver;

                    &:after {
                        border-color: $color-silver;
                    }
                }

                &.elon-estates {
                    background: $color-red;

                    &:after {
                        border-color: $color-red;
                    }
                }
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    section.work-with-us {
        position: relative;
        min-height: 450px;
        margin-bottom: 50px;


        .signup-for-newsletter {
            height: 300px;
            font-family: $font-family-body;

            h3 {
                text-align: center;
                margin-bottom: 20px;
            }
        }
    }

    .explore-partnerships-btn {
        display: block;
        padding: 20px;
        border-radius: 10px;
        width: 400px;
        display: flex;
        align-items: center;
        margin: 70px auto;
        font-family: $font-family-body-bold;
        background: $primary-color;
        color: #FFF;

        i {
            margin-left: auto;
            margin-right: 5px;
            @include transition(.15s ease-in-out);
        }

        &:hover {
            i {
                margin-right: 0;
            }
        }
    }

    section .columns {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        margin-top: 100px;
        display: none;

        &.show {
            display: flex;
        }

        .column {
            margin-right: 80px;
            position: relative;
            z-index: 1;

            .column-image {
                position: relative;

                
            }

            h4 {
                text-align: center;
                margin-top: 40px;
                font-family: $font-family-body;
            }

            &:last-child {
                margin-right: 0;
            }

            img {
                max-width: 250px;
                box-shadow: 0 0 20px rgb(0 0 0 / 30%);
                border-radius: 10px;
            }
        }
    }

    /**
     *  START CAROUSEL STYLES
     */
    .carousel-container {
        display: block;
        height: 330px;
        width: 460px;
        display: flex;
        flex-direction: column;
    }
      

    .banner {
        width: 100%;
        height: 900px;
        padding-top: 26px;
        margin-top: 0 !important;
        position: relative;
        display: flex;
    }

    .banner-inner {
        width: $wrapper-container-width;
        margin: 100px auto 50px;
        position: relative;
    }

    .promo-image {
        position: absolute;
        right: 0;
        top: calc(50% - 80px);
        @include transform(translateY(-50%));
    }

    .slogan-container {
        position: absolute;
        top: calc(50% - 80px);
        width: 450px;
        @include transform(translateY(-50%));

        .slogan-text {
            font-family: $font-family-body-bold;
            font-size: 50px;
            line-height:110%;
            margin-bottom: 30px;

            .highlighted {
                color: $primary-color;
                position: relative;
            }

        }

        .subtext {
            font-family: $font-family-body-medium;
            margin-bottom: 15px;
            font-size: 24px;
        }

        p {
            margin: 0 0 20px 0;
        }
    }

    .section-title-container {
        margin-bottom: 60px;
    }

    .section-description {
        text-align: center;
        font-size: 22px;
    }

    /**
     *  Partnerships
     */
    .partnerships-container {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: $wrapper-container-width;
        @include transform(translateX(-50%));

        &.premium {
            width: 1000px;

            &:before, &:after {
                content: initial;
            }
        }

        &:after, &:before {
            position: absolute;
            height: 100%;
            content: '';
            width: 80px;
            top: 0;
            z-index: 5;
            background: rgb(255,255,255);
            
        }

        &:after {
            right: 0;
            background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
        }

        &:before {
            left: 0;
            background: linear-gradient(270deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
        }

        .partner-text {
            text-align: center;
            font-size: 22px;
            opacity: .8;
            margin-bottom: 10px;
        }

        ul {
            display: flex;
            align-items: center;
            justify-content: center;

            li {
                width: 100%;
                text-align: center;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }


    .cta-container {
        
        button {
            width: 300px;

            i, img {
                margin-right: 6px;
            }
        }
    }

    .countdown-container {
        border-radius: 100px;
        width: 315px;
        margin: 30px 0;

        .timeleft {
            display: flex;
            justify-content: center;
        
            &> div {
                text-align: center;
                margin-right: 15px;
        
                &:last-child {
                    margin-right: 0;
                }
            }
            .label {
                text-transform: uppercase;
                font-size: 11px;
                margin-top: 5px;
                font-weight: 100;
            }
        }

        .count-down {
            margin: 0 auto;
            font-size: 24px;
            font-family: $font-family-body-semibold;
            font-weight: 600;
            text-align: center;
            line-height:1;
            margin-bottom: 20px;
            letter-spacing: 2px;
        }

        .countdown-sale-text {
            text-transform: uppercase;
            padding: 15px 20px;
            border-radius: 10px;
            font-family: $font-family-body-bold;
            font-size: 18px;
            background: #EAEAEA50;
            display: flex;
            align-items: center;
            color: $primary-font-color;

            &:hover {
                color: $primary-color;
            }

            svg {
                width: 40px;
                height: 40px;
                margin-right: 15px;
            }
        }
    }

    /**
     *  Metaverse section
     */
    .metaverse-image-toggles {

        li {
            margin-bottom: 5px;
        }

        button {
            padding: 20px 0;
            background: none;
            color: $primary-font-color;
            font-size: 24px;
            justify-content: flex-start;
            flex-direction: column;
            text-align:left;
            align-items: flex-start;
            padding: 15px;
            border-radius: 10px;
            border: 2px solid rgba(0, 0, 0, 0);
            width: 100%;

            &.active {
                border: 2px solid $primary-color;
                color: $primary-color;
            }

            &.active-green {
                border: 2px solid $color-green;
                color: $color-green;
            }

            &.active-orange {
                border: 2px solid $color-orange;
                color: $color-orange;
            }

            &.active-yellow {
                border: 2px solid $color-dark-blue;
                color: $color-dark-blue;
            }

            span {
                font-size: 18px;
                font-family: $font-family-body;
            }

        }
    }

    /**
    *  Information
    */
    .information {
        h3 {
            font-size: 36px;
        }

        p {
            font-size: 22px;
            line-height: 150%;
        }

        .two-column {
            display: flex;
            align-items: center;
        }

        .right {
            .image-container {
                display: flex;
                justify-content: center;
                height:395px;

                img {
                    border-radius: 10px;
                    width:100%;
                    display: none;
                    object-fit: cover;

                    &.show {
                        display: block;
                    }
                }
            }
        }

        .left {
            order: 0;
            margin-right: auto;
            width: 500px;

            .image-container {
                &.rounded {
                    overflow: hidden;
                    margin: 0 auto;
                    object-fit: cover;
                    position: relative;
                    height: 100%;
                    min-width: 350px;
                    width: 350px;
                    height: 350px;
                    border-radius: 4px;
                    display: block;
                    background: $secondary-color;

                    img {
                        object-fit: cover;
                    }
                }
            }
        }

        .subtext {
            margin-top: 10px;
            font-family: $font-family-body-bold-italic;
            text-transform: uppercase;
            font-size: 22px;
            opacity: .7;
            letter-spacing: 1px;
        }

        .images {
            position: relative;
            height: 400px;
            width: 700px;
            display: flex;
            margin-left: 50px;

            .card {
                position: absolute;
                left: 0;
                top: 0;

                &.card-1 { left: 0; top: 50%; @include transform(translateY(-50%)) }
                &.card-2 { left: 60px; top: 50%; @include transform(translateY(-50%)) }
                &.card-3 { left: 120px; top: 50%; @include transform(translateY(-50%)); z-index:5; }
                &.card-4 { left: 210px; top: 50%; @include transform(translateY(-50%)); z-index:3; }
                &.card-5 { left: 330px; top: 50%; @include transform(translateY(-50%)); z-index:2; }
            }
        }

        .right {
            margin-left: auto;
            width: 700px;
            order: 1;
        }
    }

    /**
     *  Day/Night cycle area
     */


    /**
    *  Team section
    */
    .team {
        width: $wrapper-container-width;

        .team-list {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 0;
            margin-top: 100px;
            justify-content: center;

            li {
                margin-right: 10px;
                margin-bottom: 60px;
                padding-right: 9px;
                border-radius: 3px;
                width: 350px;
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                position: relative;
                justify-content: center;
                z-index: 0;

                .blob-bg {
                    position: absolute;
                    z-index: -1;
                    width: 240px !important;
                    left: 50%;
                    top: 50%;
                    @include transform(translateY(-50%) translateX(-50%));

                    &.rotate-40 {
                        @include transform(translateY(-50%) translateX(-50%) rotate(40deg));
                    }

                    &.rotate-80 {
                        @include transform(translateY(-50%) translateX(-50%) rotate(80deg));
                    }

                    &.rotate-120 {
                        @include transform(translateY(-50%) translateX(-50%) rotate(120deg));
                    }

                    &.rotate-160 {
                        @include transform(translateY(-50%) translateX(-50%) rotate(160deg));
                    }
                }

                &:hover {
                    z-index: 3;
                }

                &>a, .team-member {
                    display: flex;
                    flex-direction: column;
                    padding: 45px 15px 25px;
                    justify-content: center;
                    color: $primary-font-color;
                    position: relative;
                    width: 100%;
                    z-index:2;
                    margin: 0 auto;
                    box-sizing: border-box;
                    border-radius: 20px;

                    .team-member-description {
                        width: calc(100% - 20px);
                    }
                }

                &:after {
                    width: 100%;
                    position: absolute;
                    content: '';
                    height: 380px;
                    opacity:0;
                    top: 0;
                    left: 50%;
                    z-index:2;
                    z-index: 0;
                    border-radius: 20px;
                    background: rgba(255, 255, 255, .5);
                    box-shadow: 0 0 25px rgba(0, 0, 0, .2);
                    backdrop-filter: blur(5px);
                    @include transform(translateX(-50%));
                    @include transition(.3s ease-in-out);
                }

                &:hover {
                    
                    &>a, .team-member {
                        z-index: 3;
                    }

                    &:hover {
                        .team-member-description {
                            opacity: 1;
                        }
                    }

                    .profile-link {
                        opacity: 1;
                    }

                    &:after {
                        opacity: 1;
                    }


                    h3 {
                        font-size: 20px;
                    }

                    .image-profile-block img {
                        @include transform(scale(1.05));
                    }
                }

                h3 {
                    font-size:19px;
                    display: flex;
                    align-items: center;
                    font-family: $font-family-body-medium;
                    text-align: center;
                    justify-content: center;
                    height: 30px;
                    @include transition(.3s ease-in-out);
                }

                .profile-link {
                    font-size: 16px;
                    font-weight: 900;
                    padding: 3px;
                    position: absolute;
                    top: 20px;
                    right: 10px;
                    width: 20px;
                    opacity: 0;
                    height: 20px;
                    border-radius: 4px;
                    display: flex;
                    z-index: 2;
                    align-items: center;
                    justify-content: center;
                    color: $primary-color;
                    transition: .3s ease-in-out;

                    i {
                        @include transition(.3s ease-in-out);
                        font-size: 26px;
                    }
                }

                .image-profile-block {
                    position: relative;
                    height: 100%;
                    min-width: 150px;
                    width: 150px;
                    height: 150px;
                    border-radius: 4px;
                    margin: 0 auto 20px auto;

                    &.image-crispy, .image-crispy {
                        display: flex;
                        justify-content: center;

                        img {
                            margin-top: 26px;
                            width: 115px;
                            height: 123px;
                        }
                    }

                    .image-container {
                        height:150px;
                        width: 150px;
                        border-radius: 4px;

                        img {
                            border-radius: 0;
                            margin-left: -6px;
                            @include transition(.3s ease-in-out);
                        }
                    }

                    img {
                        border-radius: 4px;
                        height: 100%;
                        object-fit: contain;
                        @include transition(.3s ease-in-out);
                    }
                }

                .title {
                    font-size: 16px;
                    text-align: center;
                    font-family: $font-family-body;
                    margin-bottom: 10px;
                    line-height: 160%;
                    height: 30px;
                    opacity:.7;
                    @include transition(.3s ease-in-out);
                }

                .team-member-description {
                    position: absolute;
                    top: 270px;
                    width: 100%;
                    opacity: 0;
                    text-align: center;
                    @include transition(.3s ease-in-out);
                }

                

                .description {
                    font-family: $font-family-body;
                    line-height: 140%;
                    font-weight: 100;
                    font-size: 16px;
                }
            }
        }
    }


/**
 *  FAQ
 */
 .faq {
     width: 950px;

    h3 {
        font-size: 18px;
        margin-bottom: 30px;
    }

    h4 {
        font-size: 24px;
        line-height: 150%;
        margin: 0;
        font-weight: normal;
    }

    .faq-group-block-container {
        border-radius: 3px;
        padding: 30px 30px 10px;
        margin-bottom: 20px;
    }

    ul.faq-section {

        li {
            cursor: pointer;
            margin-bottom: 10px;
            border:2px solid rgba(0, 0, 0, 0);
            border-radius: 10px;
            padding: 15px;
            @include transition(.15s ease-in-out);

            h4 {
                font-family: $font-family-body-medium;
                @include transition(.15s ease-in-out);
            }

            &:hover, &.active {
                border-color: $primary-color;
                color: $primary-color;

                p {
                    color: $primary-font-color;
                }

                h4 {
                    color: $primary-color;
                }
            }

            .content ul {
                margin-left: 20px;
                padding-bottom: 20px;

                li {
                    display: flex;
                    align-items: center;
                    font-weight: 100;
                    line-height: 160%;

                    .bullet-point {
                        margin-right: 10px;
                    }
                }
            }


            p {
                margin-top: 20px;
                margin-left: 20px;
                font-weight: 100;
                line-height: 160%;
                margin-bottom: 0;
                font-size: 20px;
            }
        }
    }

    .question-title-container {
        display: flex;
        align-items: center;


        .chevron {
            margin-left: auto;
            font-size: 30px;
            margin-top: -10px;
        }
    }
}


@media only screen and (min-width: 0px) and (max-width: 1120px) {
    .slogan-container {
        text-align: center;

        &>img {
            width: 80%;
        }

        .slogan-text {
            font-size: 34px;
            min-height: 75px;
        }
    }

    .cta-container {
        button {
            margin-left: auto;
            margin-right: auto;
        }
    }
    

    h2 {
        font-size: 26px;
    }

    .section-description {
        font-size: 18px;
    }

    .propertys-image {
        width: 190px;
    }

    .explore-partnerships-btn {
        width: calc(100% - 80px);
    }

    .two-column {
        flex-direction: column;

        &.right-order-0 {
            .right {
                order: 0;
                
                .image-container {
                    margin-bottom: 40px;
                }
            }

            .left {
                order: 1;
            }
        }

        .left.images {
            margin-bottom: 40px;
        }

        .right {
            width: calc(100% - 40px);
            margin: 0 auto;

            .breakpoint {
                display: inline-block;
            }

            h3 {
                font-size: 28px;
            }
        }

        .left {
            width: calc(100% - 40px);
            margin: 0 auto;

            .image-container {
                margin-bottom: 20px;

                &.rounded {
                    width: 300px;
                    min-width: 300px;
                    height: initial;
                    margin-bottom: 50px;

                    img {
                        width: 100%;
                        display: block;
                    }
                }
            }
        }
    }

    
    section {
        width: calc(100% - 20px) !important;
        margin: 60px auto 40px;

        &.banner {
            width: 100% !important;
            margin-bottom: 0 !important;
        }

        &.carousel-3d {
            width: 100% !important;
            margin: 0 !important;
        }
    }

    // .blob-bg {
    //     @include transform(translateY(-50%) translateX(-50%) scale(0.6) !important);

    //     &.rotate-40 {
    //         @include transform(translateY(-50%) translateX(-50%) rotate(40deg) scale(0.6) !important);
    //     }

    //     &.rotate-80 {
    //         @include transform(translateY(-50%) translateX(-50%) rotate(80deg) scale(0.6) !important);
    //     }

    //     &.rotate-120 {
    //         @include transform(translateY(-50%) translateX(-50%) rotate(120deg) scale(0.6) !important);
    //     }

    //     &.rotate-160 {
    //         @include transform(translateY(-50%) translateX(-50%) rotate(160deg) scale(0.6) !important);
    //     }
    // }

    .team {
        .team-list {

            li {
                width: 100%;
                display: flex;
                margin-bottom: 10px;
                margin-right: 0;

                &>a, .team-member {
                    display: flex;
                    flex-direction: column;
                    padding: 45px 15px 25px;
                    justify-content: center;
                    color: $primary-font-color;
                    position: relative;
                    width: 100%;
                    z-index:2;
                    margin: 0 auto;
                    box-sizing: border-box;
                    border-radius: 20px;

                    
                }

                &:after {
                    width: 100%;
                }

                a, .team-member {

                    
                    &:after {
                        opacity:1;
                        height: 100%;
                        background: #FFF !important;
                    }
                }

                img {
                    width: 100%;
                }
            }
        }
    }
}


/** ==============================================================
 *  Media styles
    ============================================================== */
    @media only screen and (min-width: 0px) and (max-width: 700px) {

        .district-list-selector {
            flex-wrap: wrap;
        }

        .countdown-container {
            margin: 30px auto 0;
            width: calc(100% - 40px);
        }

        .countdown-sale-text {
            justify-content: center;
            text-align: left;
        }

        section {
            padding-bottom: 0;
            margin: 60px auto 40px !important;

            &.information {
                margin-top: 0 !important;
            }
        }

        section .columns {
            flex-direction: column;
            
            .column {
                margin: 0 auto 90px;

                &:last-child {
                    margin-right: auto;
                }
            }
        }

        h3 {
            line-height:150% !important;
        }


        /**
         *  Banner
         */
        .banner {
            margin-top: 0;
            padding-top: 0;
            height: initial;
        }

        .banner-inner {
            width: calc(100% - 20px);
        }

        .main-area {
            display: flex;
            flex-direction: column;

            .promo-image {
                order: 0;
                width: 100%;
                margin-bottom: 40px;
                right: 0;

                img {
                    width: 80%;
                    margin: 0 auto 30px;
                    display: block;
                    text-align: center;
                }
            }

            .slogan-container {
                order: 1;
                margin-bottom: 100px;
                width: calc(100% - 30px);
                margin: 0 auto 100px;
            }
        }

        .partnerships-container {
            width: 100%;
            text-align: center;
            position: relative;
            bottom: initial;
            left: initial;
            transform: initial;

            &.premium {
                width: 100%;

                ul {
                    justify-content: initial
                }

                li {
                    margin-right: 80px;
                }
            }

            ul {
                width: 100%;
                overflow: auto;
            }
        }

        .slogan-container, .promo-image {
            position: relative;
            top: initial;
            left: initial;
            transform: none;
        }

        
        .carousel-container {
            width: 50%;
        }

        .team {
            .team-list {
                margin-top: 40px;
                margin-bottom: 0;
               

                li {
                    flex-direction: column;
                    padding: 0;

                    a {
                        flex-direction: column;
                    }
    
                    .image-profile-block {
                        min-width: 150px;
                        width: 150px;
                        height: 150px;
                        margin: 0 auto 15px auto;
        
                        img {
                            border-radius: 4px;
                            width: 100% !important;
                        }
                    }
        
                    .team-member-description {
                        
                        h3 {
                            text-align: center;
                            justify-content: center;
                            margin-bottom: 7px;
                        }
        
                        .title {
                            text-align: center;
                        }
        
                        p {
                            text-align: center;
                        }
                    }
    
                    img {
                        width: calc(100% - 50px) !important;
                        display: block;
                        margin: 0 auto 20px auto;
                    }
                }
            }
        }

        .two-column {
            .right, .left {
                h3 {
                    font-size: 28px;
                }
            }
        }


        /**
         *  FAQ
         */
        .faq {
            h4 {
                font-size: 20px;
            }

            ul.faq-section {
                li {
                    p {
                        margin-left: 0;
                    }
                }
            }
        }
    }

}