<!-- carousel -->
<div class="carousel">
  <div class="background"></div>
  <ng-container *ngFor="let slide of slides; let i = index">
    <!-- <div style="position: absolute; top: 0;">{{slide.title}}</div> -->
    <img
      [src]="slide.src"
      class="slide"
      style="left: {{i * 400}}px;  transition: .35s ease-in-out;"
      [@slideAnimation]="animationType"
    />
  </ng-container>

  <!-- controls -->
  <button class="control prev" (click)="onPreviousClick()">
    <span class="arrow left"></span>
  </button>
  <button class="control next" (click)="onNextClick()">
    <span class="arrow right"></span>
  </button>
</div>
