@import "assets/scss/variables";
@import "assets/scss/mixins";
@import "assets/scss/fonts";

/** Base Rules Can go below **/
body {
    font-family: $font-family-body;
    color: $primary-font-color;
    background-color: #FFF;
    min-height: 100vh;
    margin: 0;
    font-size: 20px;
    min-height: -webkit-fill-available;  
}

a {
    color: $primary-color;
    text-decoration: none;
    @include transition(.15s ease-in-out);

    &:hover {
        color: $url-color;
    }
}

input {
    font-family: $font-family-body;
}

.carousel {
    height: 140px !important;
    z-index: 2 !important;
}

.carousel-arrows {
    display: none;
}

.cta-btn {
    display: block;
    padding: 10px;
    border-radius: 4px;
    width: 150px;
    align-items: center;
    margin: 0;
    font-family: $font-family-body-bold;
    background: $primary-color;
    color: #FFF;
    text-align: center;

    &:hover {
        background: $primary-color-light;
        color: #FFF;
    }
}

.section-title-container {
    text-align: center;

    .section-title {
        display: inline-flex;
        font-family: $font-family-body-medium;
        text-transform: uppercase;
        font-size: 26px;
        padding: 5px 20px;
        border-radius: 5px;
        background: $primary-color-transparent;
        color: $primary-color;
        margin: 0 auto 15px;
        letter-spacing: 1px;

        .color-emphasis {
            color: $primary-color;
            margin-left: 10px;
        }
    }

    h2 {
        font-size: 24px;
        font-family: $font-family-body;
        text-align: center;
        opacity: .7;
        margin-bottom: 5px;
    }
}

.primary-color-emphasis {
    color: $primary-color;
}


.two-column {
    display: flex;
    align-items: center;

    
.right {
    margin-left: auto;
    width: 700px;
    order: 1;

    .image-container {
        display: flex;
        justify-content: center;
        height:395px;

        img {
            border-radius: 10px;
            width:100%;
            display: none;
            object-fit: cover;

            &.show {
                display: block;
            }
        }
    }
}

    .left {
        order: 0;
        margin-right: auto;
        width: 500px;

        .image-container {
            &.rounded {
                overflow: hidden;
                margin: 0 auto;
                object-fit: cover;
                position: relative;
                height: 100%;
                min-width: 350px;
                width: 350px;
                height: 350px;
                border-radius: 4px;
                display: block;
                background: $secondary-color;

                img {
                    object-fit: cover;
                }
            }
        }
    }
}


.accent {
    color: $accent-color;
}

.bold-font {
    font-family: $font-family-body-bold;
}

.semibold-italic-font {
    font-family: $font-family-body-semibold-italic;
}

a.primary-button {
    border-radius: 4px;
    background: $primary-color;
    color: #FFF;
    text-decoration: none;
    font-family: $font-family-body-semibold;
    padding: 5px 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 {
    margin: 0;
    color: $primary-font-color;
    font-family: $font-family-body-bold;
    font-weight: normal;
}

button {
    background: $primary-color;
    color: #FFF;
    padding: 10px 20px;
    border-radius: 4px;
    font-family: $font-family-body-bold;
    font-size: 18px;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: 0;
    @include transition(.15s ease-in-out);

    &.scale-hover {

        &:disabled {
            opacity: .5;
            cursor: default;
            
            &:hover {
                transform: none;
            }
        }
        &:hover {
            @include transform(scale(1.06));
        }
    }
}

/**
 *  Modal specific
 */
.mat-dialog-container {
    padding: 30px 30px;
    overflow: initial !important;
}

/**
 *  Input styles
 */
/**
 *  Custom slider CSS
 */
 input[type=range] {
    -webkit-appearance: none;
    margin: 18px 0;
    width: 100%;
    border-radius: 30px;
}

@-moz-document url-prefix() {
    input[type=range] {
        -webkit-appearance: none;
        margin: 10px 0;
        width: 100%;
    }
}

input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: $primary-color;
    border-radius: 0px;
}
input[type=range]::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background: #ffffff;
    border: 1px solid $primary-color;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: $primary-color;
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: $primary-color;
    border-radius: 0px;
}
input[type=range]::-moz-range-thumb {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background: #ffffff;
    border: 1px solid $primary-color;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6px;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: $primary-color;
    border-radius: 0px;
}
input[type=range]::-ms-fill-lower {
    background: $primary-color;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
    background: $primary-color;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background: #ffffff;
    border: 1px solid $primary-color;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6px;
}
input[type=range]:focus::-ms-fill-lower {
    background: $primary-color;
}
input[type=range]:focus::-ms-fill-upper {
    background: $primary-color;
}


/**
 *  Animation
 */
 @keyframes pulse {
    0% {
      -webkit-transform:scale(0);
      opacity:0;
    }
    25% {
      -webkit-transform:scale(0.3);
      opacity:1;
    }
   50% {
      -webkit-transform:scale(0.6);
      opacity:.6;
    }
   75% {
      -webkit-transform:scale(.9);
      opacity:.3;
    }
   100% {
      -webkit-transform:scale(1);
      opacity:0;
    }
 }
  
@keyframes blinker {
    50% {
        opacity: 0;
    }
}


 @-webkit-keyframes activeScale {
    0%{ transform: scale(1) translateX(-50%);}
    50% {transform: scale(1.1) translateX(-50%);}
    100% {transform: scale(1) translateX(-50%);}
}

@keyframes activeScale {
    0%{ transform: scale(1) translateX(-50%);}
    50% {transform: scale(1.1) translateX(-50%);}
    100% {transform: scale(1) translateX(-50%);}
}