<propertys-header></propertys-header>

<!-- Loading animation -->
<div class="loading" *ngIf="loadingPropertys"><img src="/assets/images/loading-dark.svg" width="50"  />Loading Propertys</div>

<!-- No propertys -->
<div class="warning-message" *ngIf="!loadingPropertys && propertys.length === 0 && isOnMainnet" >
	<img src="/assets/images/property-placeholder.png" width="80"/>
	<span>You have no Propertys in this wallet. Try switching to another or <a target="_blank" href="https://opensea.io/collection/propertysofficial">buying some on OpenSea</a></span>
</div>


<div class="warning-message" *ngIf="!isOnMainnet && !loadingPropertys">
	<i class="fab fa-ethereum"></i>
	You must be on the Ethereum mainnet in order to claim $BRIX
</div>

<!-- TODO: Remove for PROD -->
<div style="margin: 200px auto 50px; width: 500px;">
	<div style="margin-bottom: 15px;text-align: center;" class="select-city-text">See Wallet Owner Breakdown</div>
	<input type="text" style="padding:20px; width: 500px; margin-bottom: 10px; text-align: center;" [(ngModel)]="ownerWalletAddress" placeholder="Enter Owner Wallet Address" />
	<button style="margin: 0 auto; width: 100%" (click)="loadPropertys(ownerWalletAddress)">Update</button>
</div>

<!-- Propertys breakdown -->
<div class="wrapper" *ngIf="propertys.length > 0 && !loadingPropertys && isOnMainnet">
	<h1>Claim $BRIX</h1>
	
	<div class="window-text">Window for claiming ends in <propertys-countdown-timer></propertys-countdown-timer></div>

	
	<!-- Streets -->
	<div class="select-city-text">Filter by City</div>
	<ul class="city-filter">
		<li><button class="beige-bay" [class]="{ 'active': cityFilter === 'Beige Bay'}" (click)="toggleCityFilter('Beige Bay')"></button></li>
		<li><button class="orange-oasis" [class]="{ 'active': cityFilter === 'Orange Oasis'}" (click)="toggleCityFilter('Orange Oasis')"></button></li>
		<li><button class="yellow-yards" [class]="{ 'active': cityFilter === 'Yellow Yards'}" (click)="toggleCityFilter('Yellow Yards')"></button></li>
		<li><button class="green-grove" [class]="{ 'active': cityFilter === 'Green Grove'}" (click)="toggleCityFilter('Green Grove')"></button></li>
		<li><button class="purple-palms" [class]="{ 'active': cityFilter === 'Purple Palms'}" (click)="toggleCityFilter('Purple Palms')"></button></li>
		<li><button class="blue-bayside" [class]="{ 'active': cityFilter === 'Blue Bayside'}" (click)="toggleCityFilter('Blue Bayside')"></button></li>
		<li><button class="x-ae-x-ii" [class]="{ 'active': cityFilter === 'X AE X-II'}" (click)="toggleCityFilter('X AE X-II')"></button></li>
	</ul>
	<div class="property-type-container">
		<div class="property-type-title">
			<h3>Streets</h3>
			<div class="info-and-actions">
				<ul>
					<li class="complete" *ngIf="propertyTypeProgress['streets'].completed > 0">
						<div class="total">{{propertyTypeProgress['streets'].completed}}</div> 
						<div class="total-text">Completed </div>
					</li>
					<li  *ngIf="propertyTypeProgress['streets'].inProgress > 0">
						<div class="total">{{propertyTypeProgress['streets'].inProgress}}</div> 
						<div class="total-text">In Progress </div>
					</li>
				</ul>
				<button class="toggle-view-btn" (click)="toggleContainerType('street')">
					<i *ngIf="streetViewToggled" class="fas fa-chevron-up"></i>
					<i *ngIf="!streetViewToggled" class="fas fa-chevron-down"></i>
				</button>
			</div>
		</div>
		<ng-container  *ngIf="streetViewToggled">
			<div *ngFor="let property of propertys">
				<div class="property-list-container" *ngFor="let street of property['streets'] | cityFilter: cityFilter">
					<div class="info">
						<!-- Complete -->
						<div *ngIf="isStreetComplete(street)" class="status-icon complete">
							<i class="fas fa-check"></i>
						</div>

						<!-- In progress -->
						<div *ngIf="!isStreetComplete(street)" class="status-icon">
							<i class="fas fa-tasks"></i>
						</div>

						<div class="column">
							<div class="title-text">Name</div>
							<div class="name">{{property['street']}}</div>
						</div>
						<div class="column">
							<div class="title-text">Bonus Amount</div>
							<!-- <div class="title-text" *ngIf="!isStreetComplete(street)">Amount to Earn</div> -->
							<div class="amount-to-earn earned"
							>{{getEarnedBrixAmount('street', street, true)}} BRIX</div>
						</div>
					</div>
					<ul class="street-blocks">
						<li *ngFor="let unit of street">
							<img [src]="unit.image" width="100%" />
						</li>
						<li *ngFor="let buyButton of buildBuyButtonsForStreet(street)">
							<a target="_blank" href="https://opensea.io/collection/propertysofficial?search[sortAscending]=true&search[sortBy]=PRICE&search[stringTraits][0][name]=Street%20Name&search[stringTraits][0][values][0]={{buyButton.street}}" class="buy-card-btn">
								<img [src]="buyButton.image" width="100%" />
								<span class="buy-text">Buy on Opensea</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</ng-container>
	</div>

	<!-- Districts -->
	<div class="property-type-container">
		<div class="property-type-title">
			<h3>Districts</h3>
			<div class="info-and-actions">
				<ul>
					<li class="complete" *ngIf="propertyTypeProgress['districts'].completed > 0">
						<div class="total">{{propertyTypeProgress['districts'].completed}}</div> 
						<div class="total-text">Completed </div>
					</li>
					<li  *ngIf="propertyTypeProgress['districts'].inProgress > 0">
						<div class="total">{{propertyTypeProgress['districts'].inProgress}}</div> 
						<div class="total-text">In Progress </div>
					</li>
				</ul>
				<button class="toggle-view-btn" (click)="toggleContainerType('district')">
					<i *ngIf="districtViewToggled" class="fas fa-chevron-up"></i>
					<i *ngIf="!districtViewToggled" class="fas fa-chevron-down"></i>
				</button>
			</div>
		</div>
		
		<ng-container *ngIf="districtViewToggled">
			<ng-container *ngFor="let district of districts | cityFilter: cityFilter">
				<div *ngIf="district.type !== 'Special'" class="property-list-container">
					<div class="info">
						<!-- Complete -->
						<div *ngIf="isDistrictComplete(district)" class="status-icon complete">
							<i class="fas fa-check"></i>
						</div>

						<!-- In progress -->
						<div *ngIf="!isDistrictComplete(district)" class="status-icon">
							<i class="fas fa-tasks"></i>
						</div>
						<div class="column">
							<div class="title-text">Name</div>
							<div class="name">{{district['name']}}</div>
						</div>
						<div class="column" *ngIf="!isDistrictComplete(district)">
							<div class="title-text">Bonus possible</div>
							<div class="amount-to-earn">{{getEarnedBrixAmount('district', district, true)}} BRIX</div>
						</div>
						<div class="column" *ngIf="isDistrictComplete(district)">
							<div class="title-text">Bonus Amount</div>
							<div class="amount-to-earn earned">{{getEarnedBrixAmount('district', district, true)}} BRIX</div>
						</div>
					</div>
					<ul class="street-blocks">
						<li *ngFor="let street of district['streets']"><img [src]="street[0]['image']" width="100%" /></li>
					</ul>
				<a *ngIf="!isDistrictComplete(district)" target="_blank" href="https://opensea.io/collection/propertysofficial?search[sortAscending]=true&search[sortBy]=PRICE&search[stringTraits][0][name]=District%20Name&search[stringTraits][0][values][0]={{replaceSpacesForUrlLink(district['name'])}}" class="buy-more">Own {{getRemainingDistrictStreetCount(district)}} more streets in this district for completion</a>
				</div>
			</ng-container>
		</ng-container>
	</div>


	<!-- Cities -->
	<div class="property-type-container">
		<div class="property-type-title">
			<h3>Cities</h3>
			<div class="info-and-actions">
				<ul>
					<li class="complete" *ngIf="propertyTypeProgress['cities'].completed > 0">
						<div class="total">{{propertyTypeProgress['cities'].completed}}</div> 
						<div class="total-text">Completed </div>
					</li>
					<li  *ngIf="propertyTypeProgress['cities'].inProgress > 0">
						<div class="total">{{propertyTypeProgress['cities'].inProgress}}</div> 
						<div class="total-text">In Progress </div>
					</li>
				</ul>
				<button class="toggle-view-btn" (click)="toggleContainerType('city')">
					<i *ngIf="cityViewToggled" class="fas fa-chevron-up"></i>
					<i *ngIf="!cityViewToggled" class="fas fa-chevron-down"></i>
				</button>
			</div>
		</div>
		<ng-container *ngIf="cityViewToggled">
			<ng-container *ngFor="let city of cities | cityFilter: cityFilter">
				<div *ngIf="city.type !== 'Special'" class="property-list-container">
					<div class="info">
						<div class="status-icon">
							<i class="fas fa-tasks"></i>
						</div>
						<div class="column">
							<div class="title-text">Name</div>
							<div class="name">{{city['name']}}</div>
							
						</div>
						<div class="column" *ngIf="!isCityComplete(city)">
							<div class="title-text">Bonus possible</div>
							<div class="amount-to-earn">{{getEarnedBrixAmount('city', city, true)}} BRIX</div>
						</div>
						<div class="column" *ngIf="isCityComplete(city)">
							<div class="title-text">Bonus Amount</div>
							<div class="amount-to-earn earned">{{getEarnedBrixAmount('city', city, true)}} BRIX</div>
						</div>
					</div>
					<ul class="street-blocks">
						<li *ngFor="let district of city['districts']">
							<img [src]="district['streets'][0][0]['image']" width="100%" />
						</li>
					</ul>
					<a target="_blank" href="https://opensea.io/collection/propertysofficial?search[sortAscending]=true&search[sortBy]=PRICE&search[stringTraits][0][name]=City%20Name&search[stringTraits][0][values][0]={{replaceSpacesForUrlLink(city['name'])}}" class="buy-more">Own {{getRemainingCityDistrictCount(city)}} more districts in this city for completion</a>
					</div>
				</ng-container>
			<!-- <div *ngIf="!hasCities()" class="no-propertys">
				You don't have enough Propertys to begin owning a city. <a target="_blank" href="https://opensea.io/collection/propertysofficial">Buy more on Opensea</a>
			</div> -->
		</ng-container>
	</div>

	<!-- Totals to earn -->
	<div class="rent-collection-summary-container">
		<div class="top">
			<h2>Total Brix to Claim</h2>
			<div class="brix-total">{{getTotalEarnedBrix()}} BRIX</div>
		</div>
		<button [disabled]="brixClaimLoading" (click)="claimBrix()" class="claim-all-btn">
			<span *ngIf="!brixClaimLoading">Claim all</span>
			<img *ngIf="brixClaimLoading" src="/assets/images/loading.gif" width="50"  />
		</button>
		<div class="wallet-balance">
			In your wallet 
			<span class="total">
				<!-- <img src="/assets/images/brix-icon.png" width="16" /> -->
				0
			</span>
		</div>
	</div>
</div>
<propertys-footer></propertys-footer>