@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

:host {

    .wrapper {
        padding: 100px 0 100px;
        width: $wrapper-container-width;
        margin: 0 auto;
        text-align: center;
    }

    .window-text {
        margin-bottom: 100px;
    }

    h2 {
        font-size: 26px;
        font-family: $font-family-heading;
    }

    /**
     *  Street specific sections
     */
    .street-container {
        margin-bottom: 100px;

        h2 {
            margin-bottom: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .total-possible-rent {
            font-family: $font-family-body-medium;
            color: $primary-color;
            padding:5px 15px;
            border-radius: 4px;
            margin-left: 10px;
            font-size: 14px;
            background: rgba(143, 0, 255, .1);
        }

        ul.street-blocks {
            display: flex;

            li {
                width: 100%;
                height: 250px;
                min-width: 150px;
                margin-right: 20px;
                border-radius: 4px;

                &:last-child {
                    margin-right: 0;
                }

                img {
                    object-fit: cover;
                    height: 100%;
                    border-radius: 4px;
                }
            }


        }

        .buy-card-btn {
            height: 100%;
            background: rgba(0, 0, 0, .2);
            border: 2px dashed $primary-color;
            color: $primary-color;
            font-family: $font-family-body-bold;
            outline: 0;
            display: block;
            width: 150px;
            min-width: 150px;
            height: 250px;
            border-radius: 4px;
            position: relative;
            @include transition(.15s ease-in-out);

            &:hover {
                @include transform(scale(1.05));
                background: rgba(0, 0, 0, .6);

                img {
                    opacity: .5;
                }
            }

            img {
                position: absolute;
                z-index: 0;
                top: 50%;
                left: 50%;
                opacity: .2;
                @include transition(.15s ease-in-out);
                @include transform(translateX(-50%) translateY(-50%));
            }


            .buy-text {
                position: absolute;
                top: 50%;
                z-index: 1;
                left: 50%;
                @include transform(translateX(-50%) translateY(-50%));
            }
        }
    }


    .rent-collection-summary-container {
        text-align: right;

        h2 {
            margin-bottom: 10px;
        }

        .brix-total {
            margin-bottom: 10px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            text-align: right;
            font-family: $font-family-body-semibold;

            img {
                margin-right: 10px;
            }
        }

        .wallet-balance {
            display: flex;
            border-radius: 30px;
            padding: 5px 20px;
            margin-left: auto;
            background: #f1f1f1;
            max-width: 250px;
            justify-content: flex-right;
            align-items: center;

            .total {
                margin-left: auto;
            }
        }
    }


@media only screen and (min-width: 0px) and (max-width: 800px) {
    .wrapper {
        width: calc(100% - 40px);
        margin: 0 auto;
    }

    ul.street-blocks {
        width: 100%;
        padding: 10px;
        overflow: auto;
    }
}

}