<propertys-header></propertys-header>

<div class="wrapper">
	<h1>Claim $BRIX</h1>
	<div class="window-text">Window for claiming ends in {{countdownHours}}:{{countdownMins}}:{{countdownSecs}}</div>

	<!-- Street 1 -->
	<div class="street-container">
		<h2>Blue Bayside Way <span class="total-possible-rent">(320 BRIX)</span></h2>
		<ul class="street-blocks">
			<li><img src="/assets/images/cards/starry-skies-1.webp" width="100%" /></li>
			<li><img src="/assets/images/cards/starry-skies-1.webp" width="100%" /></li>
			<li><img src="/assets/images/cards/starry-skies-1.webp" width="100%" /></li>
			<li><img src="/assets/images/cards/starry-skies-1.webp" width="100%" /></li>
			<li>
				<a target="_blank" href="https://opensea.io" class="buy-card-btn">
					<img src="/assets/images/cards/starry-skies-2.webp" width="100%" />
					<span class="buy-text">Buy on Opensea</span>
				</a>
			</li>
			<li>
				<a target="_blank" href="https://opensea.io" class="buy-card-btn">
					<img src="/assets/images/cards/starry-skies-2.webp" width="100%" />
					<span class="buy-text">Buy on Opensea</span>
				</a>
			</li>
			<li>
				<a target="_blank" href="https://opensea.io" class="buy-card-btn">
					<img src="/assets/images/cards/starry-skies-3.webp" width="100%" />
					<span class="buy-text">Buy on Opensea</span>
				</a>
			</li>
		</ul>
	</div>

	<!-- Totals to earn -->
	<div class="rent-collection-summary-container">
		<h2>Total brix to earn</h2>
		<div class="brix-total"><img src="/assets/images/brix-icon.png" width="30" /> 2500</div>
		<div class="wallet-balance">
			In your wallet 
			<span class="total">
				<img src="/assets/images/brix-icon.png" width="16" />
				436
			</span>
		</div>
	</div>
</div>
<propertys-footer></propertys-footer>