<propertys-header></propertys-header>

<div class="wrapper">
	<h1>Claim $BRIX</h1>
	<div class="window-text">Window for claiming ends in {{countdownHours}}:{{countdownMins}}:{{countdownSecs}}</div>

	<!-- Streets -->
	<div class="property-type-container">
		<div class="property-type-title">
			<h3>Streets</h3>
			<div class="info-and-actions">
				<ul>
					<li class="complete">
						<div class="total">1</div> 
						<div class="total-text">Completed </div>
					</li>
					<li>
						<div class="total">3</div> 
						<div class="total-text">In Progress </div>
					</li>
				</ul>
				<button class="toggle-view-btn" (click)="toggleContainerType('street')">
					<i *ngIf="streetViewToggled" class="fas fa-chevron-up"></i>
					<i *ngIf="!streetViewToggled" class="fas fa-chevron-down"></i>
				</button>
			</div>
		</div>
		<ng-container  *ngIf="streetViewToggled">
			<div *ngFor="let property of propertys">
				<div class="property-list-container" *ngFor="let street of property['streets']">
					<div class="info">
						<!-- Complete -->
						<div *ngIf="isStreetComplete(street)" class="status-icon complete">
							<i class="fas fa-check"></i>
						</div>

						<!-- In progress -->
						<div *ngIf="!isStreetComplete(street)" class="status-icon">
							<i class="fas fa-tasks"></i>
						</div>

						<div class="column">
							<div class="title-text">Name</div>
							<div class="name">{{property['streetName']}}</div>
						</div>
						<div class="column">
							<div class="title-text" *ngIf="isStreetComplete(street)">Amount Earned</div>
							<div class="title-text" *ngIf="!isStreetComplete(street)">Amount to Earn</div>
							<div class="amount-to-earn earned"
								[class]="{'earned': isStreetComplete(street) }"
							>320 BRIX</div>
						</div>
					</div>
					<ul class="street-blocks">
						<li *ngFor="let unit of street">
							<img [src]="unit.image" width="100%" />
						</li>
						<li *ngFor="let buyButton of buildBuyButtonsForStreet(street)">
							<a target="_blank" href="https://opensea.io/collection/propertysofficial?search[sortAscending]=true&search[sortBy]=PRICE&search[stringTraits][0][name]=Street%20Name&search[stringTraits][0][values][0]={{buyButton.street}}" class="buy-card-btn">
								<img [src]="buyButton.image" width="100%" />
								<span class="buy-text">Buy on Opensea</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</ng-container>
	</div>

	<!-- Districts -->
	<div class="property-type-container">
		<div class="property-type-title">
			<h3>Districts</h3>
			<div class="info-and-actions">
				<ul>
					<li class="complete">
						<div class="total">1</div> 
						<div class="total-text">Completed </div>
					</li>
					<li>
						<div class="total">3</div> 
						<div class="total-text">In Progress </div>
					</li>
				</ul>
				<button class="toggle-view-btn" (click)="toggleContainerType('district')">
					<i *ngIf="districtViewToggled" class="fas fa-chevron-up"></i>
					<i *ngIf="!districtViewToggled" class="fas fa-chevron-down"></i>
				</button>
			</div>
		</div>
		<div class="property-list-container" *ngIf="districtViewToggled">
			<div class="info">
				<div class="status-icon">
					<i class="fas fa-tasks"></i>
				</div>
				<div class="column">
					<div class="title-text">Name</div>
					<div class="name">Muddy Mountains</div>
				</div>
				<div class="column">
					<div class="title-text">Amount to earn</div>
					<div class="amount-to-earn">2100 BRIX</div>
				</div>
			</div>
			<ul class="street-blocks">
				<li><img src="/assets/images/cards/beige-bay-1.webp" width="100%" /></li>
				<li><img src="/assets/images/cards/beige-bay-1.webp" width="100%" /></li>
			</ul>
			<a target="_blank" href="https://opensea.io/collection/propertysofficial?search[sortAscending]=true&search[sortBy]=PRICE&search[stringTraits][0][name]=City%20Name&search[stringTraits][0][values][0]=Beige%20Bay" class="buy-more">Buy 2 more streets in this district for completion</a>
		</div>
	</div>


	<!-- Cities -->
	<div class="property-type-container">
		<div class="property-type-title">
			<h3>Cities</h3>
			<div class="info-and-actions">
				<ul>
					<li class="complete">
						<div class="total">1</div> 
						<div class="total-text">Completed </div>
					</li>
					<li>
						<div class="total">3</div> 
						<div class="total-text">In Progress </div>
					</li>
				</ul>
				<button class="toggle-view-btn" (click)="toggleContainerType('city')">
					<i *ngIf="cityViewToggled" class="fas fa-chevron-up"></i>
					<i *ngIf="!cityViewToggled" class="fas fa-chevron-down"></i>
				</button>
			</div>
		</div>
		<div class="property-list-container" *ngIf="cityViewToggled">
			<div class="info">
				<div class="status-icon">
					<i class="fas fa-tasks"></i>
				</div>
				<div class="column">
					<div class="title-text">Name</div>
					<div class="name">Beige Bay</div>
				</div>
				<div class="column">
					<div class="title-text">Amount to earn</div>
					<div class="amount-to-earn">15,500 BRIX</div>
				</div>
			</div>
			<ul class="street-blocks">
				<li><img src="/assets/images/cards/beige-bay-1.webp" width="100%" /></li>
			</ul>
			<a target="_blank" href="https://opensea.io/collection/propertysofficial?search[sortAscending]=true&search[sortBy]=PRICE&search[stringTraits][0][name]=City%20Name&search[stringTraits][0][values][0]=Beige%20Bay" class="buy-more">Buy 6 more streets in this city for completion</a>
		</div>
	</div>

	<!-- Totals to earn -->
	<div class="rent-collection-summary-container">
		<div class="top">
			<h2>Total Brix to Claim</h2>
			<div class="brix-total">2500 BRIX</div>
		</div>
		<button [disabled]="brixClaimLoading" (click)="claimBrix()" class="claim-all-btn">
			<span *ngIf="!brixClaimLoading">Claim all</span>
			<img *ngIf="brixClaimLoading" src="/assets/images/loading.gif" width="50"  />
		</button>
		<div class="wallet-balance">
			In your wallet 
			<span class="total">
				<!-- <img src="/assets/images/brix-icon.png" width="16" /> -->
				436
			</span>
		</div>
	</div>
</div>
<propertys-footer></propertys-footer>